.app-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

input {
  margin: 5px;
  padding: 8px;
  font-size: 14px;
}


.progress-bar-container {
  width: 100%;
  max-width: 500px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px auto;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: width 0.5s ease-in-out;
}
